.partida{
	margin-top: 2em;
	height: 8em;
	margin-right: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	&__lose{
		background: rgba(201, 94, 94, 0.33);
	}
	&__win{
		background: rgba(94, 143, 201, 0.33);

	}
}


.border{
	width: 5%;
	height: inherit;
	
	&__lose{
		background: #C95E5E;
	}
	&__win{
		background: #5E8FC9;
	}

	&__chevronRight{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		filter: invert(1) grayscale(100) brightness(200);
	}
}

.container{
	display: flex;
	flex-direction: row;
	width: 90%;
}
.container1{
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}
.container2{
}


.firstBlock{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top:0.5em;
}

.time{
	color: #767676;
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 0.5em
}
.championIcon{
	width: 3em;
	height: 3em;
	margin-left: 1em;
	border-radius: 100%;
}
.laneIcon{
	margin-left: 1em;
	width: 3em;
	height: 3em;
}

.queueType{
	color: #5E8FC9;
	font-size: 1em;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.spellsContainer{
	display: flex;
	flex-direction: column;
}

.spell{
	width: 2em;
}



.matchResultSpan{
	color: #767676;
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-bottom: 1em;
}




.containerKillRunasItens {
	margin-left: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
}
.containerKDAMatchResultRunes{
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}
.containerMatchResultRunes{
	margin-left: 1.5em;
}


	





.containerPlayers{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1em;
	margin-left: 1em;
}

