.partida{
	margin-top: 2em;
	height: 8em;
	margin-right: 2em;
	background: rgba(94, 143, 201, 0.33);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.border{
	background: #5E8FC9;
	width: 5%;
	height: inherit;
}

.container{
	display: flex;
	flex-direction: row;
	width: 90%;
}
.container1{
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}
.container2{
}
.kdaTittle{
	color: #FFF;
	font-size: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 0.5em;
}
.kda{
	color: #FFF;
	font-size: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 0.5em;
}

.firstBlock{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top:0.5em;
}

.time{
	color: #767676;
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 0.5em
}
.championIcon{
	width: 3em;
	height: 3em;
	margin-left: 1em;
	border-radius: 100%;
}
.laneIcon{
	margin-left: 1em;
	width: 3em;
	height: 3em;
}
.containerSpell{
	display:flex;
	flex-direction: column;
	& img{
		width: 2em;
		height: 2em;
	}
}
.queueType{
	color: #5E8FC9;
	font-size: 1em;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.spellsContainer{
	display: flex;
	flex-direction: column;
}

.spell{
	width: 2em;
}

.rune{
	width: 2em;
	height: 2em;
}
.item{
	width: 40px;
	height: 40px;
	padding: 0.5rem;
	margin-left: 5px;
	border-radius: 5px;
	background: #181539;
}
.matchResultSpan{
	color: #767676;
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-bottom: 1em;
}

.perkContainer{
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}


.parent {
	margin-left: 1em;
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
	
.div1 { 
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 3; }


.containerPlayers{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1em;
	margin-left: 1em;
}

.containerPlayer{
	display:flex;
	flex-direction: row;

	& img{
		width: 1em;
		height: 1em;
	}
	& span{
		color: #767676;
		font-size: 16px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		width: 6em;
	}
}