.perkContainer {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rune {

    width: 2em;
    height: 2em;

    &:nth-of-type(1) {
        margin-right: 1em;
    }
}